html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
table{
  border: 1px solid black;
  border-collapse: collapse;
}
table > thead > tr > th{
  border: 1px solid black;
  padding: 8px;
}
table > tbody > tr > td{
  border: 1px solid black;
  padding: 8px;
}
.delete{
  margin-left: 10px;
}
.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Right{
  display: flex;
  align-items: right;
}